@import '../../assets/stylesheets/abstracts/variables';

.post-card {
  height: 420px;
  &__image {
    height: 46%;
  }
  &__text {
    padding: 28px !important;
    position: relative;
  }
  &__header {
    font-size: 1.28rem !important;
    letter-spacing: 0.025rem;
    margin-bottom: 7px !important;
    color: darken($primary-color, 8%) !important;
  }
  &__description {
    font-size: 0.875rem !important;
    line-height: 1.6rem !important;
    color: desaturate($primary-color, 80%) !important;
  }
  &__reading-time {
    position: absolute;
    bottom: 28px;
    right: 28px;
  }
  &__tag {
    position: absolute;
    bottom: 28px;
    left: 28px;
  }

  &--horizontal {
    display: flex !important;
    flex-direction: row !important;
    height: 315px;
  }
  &--horizontal &__image {
    width: 60%;
    height: 315px;
  }
  &--horizontal &__text {
    padding: 28px !important;
    width: 40%;
    position: relative;
  }
  &--horizontal &__header {
    font-size: 1.28rem !important;
    letter-spacing: 0.025rem;
    margin-bottom: 21px !important;
  }
  &--horizontal &__description {
    font-size: 0.875rem !important;
    line-height: 1.6rem !important;
  }
  &--horizontal &__reading-time {
    position: absolute;
    bottom: 28px;
    right: 28px;
  }
  &--horizontal &__tag {
    position: absolute;
    bottom: 28px;
    left: 28px;
  }
}
