@import '../assets/stylesheets/abstracts/variables';

@mixin container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.index {
  &__wrapper {
    @media (min-width: 576px) {
      max-width: 540px;
      @include container;
    }
    @media (min-width: 768px) {
      max-width: 720px;
      @include container;
    }
    @media (min-width: 992px) {
      max-width: 960px;
      @include container;
    }
    @media (max-width: 576px) {
      border-radius: 26px 26px 0 0;
      background-color: #f0f0f0;
      padding: 50px 16px 0;
      min-height: calc(100vh - 100px);
    }
  }
  &__article-types {
    display: flex;
    @media (min-width: 576px) {
      justify-content: center;
      padding-bottom: 40px;
    }
    @media (max-width: 576px) {
      overflow-x: auto;
      border-radius: 5px;
      padding-bottom: 40px;
    }
  }
  &__article-type-btn {
    @media (min-width: 576px) {
      padding: 8px 16px;
      color: $grey-primary-color;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 10px;
        position: relative;
        &::after {
          content: '/';
          position: absolute;
          right: -10px;
          color: $grey-primary-color;
        }
      }
      &--active {
        color: $primary-color;
      }
    }
    @media (max-width: 576px) {
      padding: 8px 16px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0px 3px 6px rgba(#000, 0.16);
      font-size: 14px;
      white-space: nowrap;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &--active {
        background-color: $primary-color;
        color: #f0f0f0;
      }
    }
  }
  &__article {
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 3px 6px rgba(#000, 0.26);
    //margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fefefe;
    height: 100%;
  }
  &__article-thumbnail {
    width: 100%;
    height: 200px;
  }
  &__article-content {
    padding: 15px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 200px);
  }
  &__article-type {
    color: $primary-color;
    font-size: 14px;
    margin-bottom: 2px;
  }
  &__article-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__article-excerpt {
    color: change-color($color: $dark-primary-color, $alpha: 0.65);
    font-size: 16px;
    margin-bottom: 32px;
  }
  &__article-min {
    font-size: 14px;
    color: change-color($color: $dark-primary-color, $alpha: 0.5);
  }
}
