@import '../assets/stylesheets/abstracts/variables';

.index-page {
  width: 100%;
  height: 100vh;
  position: relative;

  &__intro-wrapper {
    //width: calc(56.25% - 26px);
    height: 100vh;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 50px 50px 0;
    box-shadow: 5px 0px 6px 0px rgba(#000, 0.16);
  }
  &__intro {
    margin-top: 205px;
  }
  &__name {
    margin-left: 0.6rem;
    font-family: 'Manjari', sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
  }
  &__heading {
    margin-left: 118px;
    position: relative;
    color: change-color($primary-color, $saturation: 20%, $lightness: 15%);
    font-size: 2.5rem;
    &::after {
      content: '';
      height: 5px;
      width: 134px;
      position: absolute;
      left: -26px;
      bottom: -8px;
      background-color: $primary-color;
    }
  }
  &__intro-text {
    margin-top: 3.8rem;
    margin-left: 164px;
    color: change-color($primary-color, $saturation: 8%, $lightness: 40%);
    & div {
      font-size: 24px;
    }
    & div:first-child {
      margin-bottom: 1.2rem;
    }
  }
  &__article-type-btns {
    margin-top: 140px;
    & > *:not(:last-child) {
      margin-bottom: 1.7rem;
    }
  }
  &__article-type-btn {
    border-radius: 50px !important;
    display: block !important;
    font-family: 'Noto Sans TC', sans-serif !important;
    font-size: 16px !important;
    width: 120px;
    &--inactive {
      padding: 0.78571429em 1.5em 0.78571429em;
      width: 120px;
      text-align: center;
      font-family: 'Noto Sans TC', sans-serif !important;
      font-size: 16px !important;
      color: change-color($primary-color, $saturation: 8%, $lightness: 40%);
      font-weight: 600;
    }
  }
  // &__article-type-sign {
  //   width: 11px;
  //   height: 3px;
  //   background-color: change-color(
  //     $primary-color,
  //     $saturation: 8%,
  //     $lightness: 40%
  //   );
  // }
  &__overview {
    display: flex;
    flex-direction: row;
    margin-right: 92px;
    justify-content: space-between;
  }
  &__preview {
    margin-top: 80px;
    text-align: right;
    height: 500px;
    // overflow: hidden;
  }
  &__preview-wrapper {
    height: 100%;
    // overflow: auto;
  }
  &__preview-block {
    background-color: #fafafa;
    border-radius: 20px;
    width: 328px;
    height: 185px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
  }
  &__preview-block-title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 0 0 20px 20px;
  }
  &__other-article {
    padding: 0.6rem 0;
    & span {
      cursor: pointer;
    }
  }
  &__entry {
    position: fixed;
    color: $primary-color;
    opacity: 0.7;
    bottom: 80px;
    right: 92px;
    cursor: pointer;
    animation: attention 1.5s infinite;
    &:hover {
      font-style: italic;
      animation: none;
    }
    &::after {
      content: '';
      height: 2px;
      width: 75px;
      position: absolute;
      bottom: -12px;
      left: -16px;
      background-color: $primary-color;
    }
  }
}

@keyframes attention {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
