@import '../../assets/stylesheets/abstracts/variables';

.post {
  &__title {
    font-size: 22px;
    margin-bottom: 34px;
    padding-left: 10px;
    position: relative;
    font-weight: 500;
    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 60px;
      background-color: $primary-color;
      left: 0;
      bottom: -10px;
    }
  }
  &__metadata {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 4px;
    & div {
      color: rgba(#432d39, 0.56);
      font-size: 14px;
    }
    & div:not(:last-child) {
      margin-right: 14px;
    }
  }
  &__cover {
    margin-bottom: 50px;
  }
  &__mdx-a {
    color: $primary-color !important;
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
      color: rgba($primary-color, 0.8);
    }
  }
  &__mdx-p {
    color: #3e2533;
    font-size: 18px;
    margin-bottom: 2rem !important;
  }
  &__mdx-blockquote {
    position: relative;
    background-color: rgba(#ffc9e7, 0.3);
    padding: 20px 10px 20px 20px;
    margin-bottom: 2rem !important;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0 5px 5px 0;
    p {
      margin-bottom: 0px !important;
    }
    &::after {
      content: '';
      width: 6px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #ff64bb;
      border-radius: 5px 0 0 5px;
    }
  }
}

/*
.custom-mdx {
  &__a {
    color: darken($orange, 10%) !important;
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
      color: darken($orange, 20%) !important;
    }
  }
  &__p {
    line-height: 1.6rem;
    margin-bottom: 2rem !important;
  }
  &__blockquote {
    position: relative;
    background-color: rgba($light-blue, 0.3);
    padding-top: 21px;
    padding-bottom: 21px;
    margin-bottom: 2rem !important;
    p {
      margin-bottom: 0px !important;
    }
    &::before {
      content: '';
      width: 1.45rem;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1.45rem;
      background-color: rgba($light-blue, 0.3);
    }
    &::after {
      content: '';
      width: 6px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1.45rem;
      background-color: $dark-blue;
      z-index: 99;
    }
  }
}
*/
